%header.navbar.navbar-fixed-top.navbar-default{role: :banner}
  .container
    .navbar-header
      %ul.nav.navbar-nav.navbar-left
        %li= link_to 'Rails screenshots', root_path, id: 'logo', class: 'navbar-brand'
    .collapse.navbar-collapse{role: :navigation}
      %ul.nav.navbar-nav.navbar-right